<div class="jumbotron center" >
  <h1>Welcome to PMPLINKS</h1></br>
  <p>All you need for your PMP jouerny!</p></br>
  <p><%= link_to 'Get Access to 3 Full length PMP tests', "#", class:"btn btn-danger btn-lg btn-xlarge",  role: "button"  %></p>
</div>



